/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

@font-face {
  font-family: 'JetBrains';
  src: url('./assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

:root {
  --clr-gray-100: hsl(248 15 11);
  --clr-gray-300: hsl(248 10 15);
  --clr-gray-700: hsl(251 9 53);
  --clr-gray-900: hsl(252 11 91);
  --clr-yellow-700: hsl(42 91 68);
  --clr-orange-600: hsl(13 95 66);
  --clr-red-600: hsl(0 91 63);
  --clr-green-700: hsl(127 100 82);
  --clr-black: hsl(255 22 4);

  --ff-base: 'JetBrains', sans-serif;

  --fw-bold: 700;

  --fs-small: calc(18rem / 16);
  --fs-medium: calc(24rem / 16);
  --fs-large: calc(32rem / 16);

  --lh-small: calc();

  font-size: 16px;
}

html,
body {
  height: 100%;
  font-family: var(--ff-base);
  font-weight: 600;
}

body {
  /* background-color: var(--clr-gray-100); */
  background: var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-card {
  color: var(--clr-gray-900);
  background: var(--clr-gray-300);
  padding: 32px;
  padding-top: 20px;
  position: relative;
  /* min-width: 540px; */
}

.c-main__divider {
  background: var(--clr-black);
  height: 24px;
  width: calc(100% + 64px);
  margin-left: -32px;
  margin-bottom: 20px;
}

.c-header {
  font-size: 24px;
  color: var(--clr-gray-700);
  position: absolute;
  top: -50px;
  margin-inline: auto;
  width: calc(100% - 64px);
  text-align: center;
}

.c-header h1 {
  font-size: var(--fs-medium);
}

.c-main__output-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.c-main__password {
  font-size: var(--fs-large);
  background: var(--clr-gray-300);
  color: var(--clr-gray-900);
  border: none;
  padding: 6px;
  width: 90%;
}

.c-main__password:focus {
  outline: 1px solid var(--clr-gray-900);
  outline-offset: 4px;
}

.c-main__button-icon {
  background: var(--clr-gray-300);
  border: none;
  display: flex;
  align-items: center;
  line-height: 0;
  gap: 20px;
  position: relative;
}

.c-main__copied {
  font-size: var(--fs-small);
  color: var(--clr-green-700);
  line-height: 0px;
  position: absolute;
  left: -100%;
  transform: translateX(-100%) translateY(2px);
}

.c-main__copied-image {
  width: 24px;
}

.c-main__button-icon:hover {
  cursor: pointer;
}

.c-main__button-icon:focus {
  outline: 1px solid transparent;
}

.c-main__slider-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.c-main__slider-label {
  font-size: var(--fs-small);
}

.c-main__slider-value {
  font-size: var(--fs-large);
  color: var(--clr-green-700);
}

.c-main__slider {
  margin-bottom: 20px;
}

.c-main__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.c-main__list-item {
  padding: none;
  font-size: var(--fs-small);
}

/*-- Slider styling -- */
.c-main__slider {
  width: 100%;
  margin-bottom: 42px;
}

.c-main__slider:hover {
  cursor: pointer;
}

.c-main__slider {
  /* remove browser defaults */
  -webkit-appearance: none;
  /* style the track */
  background: var(--clr-gray-100);
  height: 8px;
}
/* Styling the thumb */
.c-main__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
}

.c-main__slider::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  border: none;
}

/* Styling the progress */
.c-main__slider {
  background-image: linear-gradient(var(--clr-green-700), var(--clr-green-700));
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

/*-- -------------- -- */

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid white;
  margin-right: 20px;
}

input[type='checkbox']:checked {
  background-color: var(--clr-green-700);
  border: none;
  background-image: url('./assets/images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.c-main__strenght-wrapper {
  background: var(--clr-gray-100);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.c-main__strenght-wrapper > p {
  color: var(--clr-gray-700);
}

.c-main__strenght-inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: var(--fs-medium);
}

.c-main__indicator-text {
  line-height: 0;
}

.c-main__strenght-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.c-main__strenght-icon {
  width: 10px;
  height: 28px;
}

.c-main__submit-button {
  width: 100%;
  padding: 22px;
  background: var(--clr-green-700);
  color: var(--clr-gray-100);
  display: flex;
  justify-content: center;
}

.c-main__submit-button:hover {
  background: none;
  border: 2px solid var(--clr-green-700);
  color: var(--clr-green-700);
  cursor: pointer;
}

.c-main__submit-content {
  position: relative;
  line-height: 1em;
}

.c-main__submit-content img {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-55%);
}

/* utilities */
.red {
  background: var(--clr-red-600);
  border: none;
}

.orange {
  background: var(--clr-orange-600);
  border: none;
}

.yellow {
  background: var(--clr-yellow-700);
  border: none;
}

.green {
  background: var(--clr-green-700);
  border: none;
}

.default {
  background: none;
  border: 1px solid white;
}

.hidden {
  display: none;
}

@media (max-width: 500px) {
  :root {
    --fs-small: calc(13rem / 16);
    --fs-medium: calc(16rem / 16);
    --fs-large: calc(24rem / 16);
  }

  .c-header {
    display: none;
  }

  .c-main__strenght-inner-wrapper {
    width: min-content;
    line-height: 1em;
  }

  .c-main__indicator-text {
    line-height: 1em;
  }

  .c-main__copied {
    position: absolute;
    top: -15px;
    left: 0;
    left: revert;
    transform: translateX(-25%);
  }
}
